/* soft reset */
* {
    padding: 0%;
    margin: 0%;
     
}

/* section headers css design */
#section-header  {
margin-top: 50px;
background-color: #734f96;
padding: 10px;
text-align: center;
}

/* makes the links to the sections black*/
a {
text-decoration: solid black;   
color: black; 
}

/* css for the header */
.header {
padding: 10px;
background-color: #CF9FFF ;
}
/* nav bar */
.header ul {
padding: 0%;
margin-top: -10px;
margin-bottom: 4px;
list-style: none;
text-decoration: underline;
font-size:x-large;
font-weight: bolder;
display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.header ul li {
display: inline;
}
/* h1= my name */
.header h1 {
margin-bottom: 0%;
}
/* h5= portfolio */
.header h5{
margin-top: 0%;
margin-bottom: 0%;
}

/* css for the about me section */
.about-me{
display: flex;
background-color: #e6e6fa;
border: 5px;
border-color: #734f96;  
}
/* image size and placment */
.about-me img {
padding-left: 55px;
padding-top: 25px;
padding-bottom: 25px;
width: 15%;
height: auto;
}
/* paragraph display  */
.about-me p {
padding: 45px;
margin-right: 35px;
display: block;
margin-block: auto;
text-align: justify;
font-size: x-large;
}

/* css for My Projects */
.my-projects{
background-color: #e6e6fa;
padding-bottom: 15px;
}

.my-projects img {
padding: 10px;
margin-top: 15px;
background-color: #CF9FFF;
height: 350px;
width: 550px;
}
/* image spacing */
#img1 {
    margin-left: 40px;
    margin-right: 19px; 
}
#img2 {
    margin-left: 19px;
    margin-right: 40px;
}
/* css for contact info section */
.contact-me ul {
    list-style: none;
        font-size: x-large;
        font-weight: bolder;
        display: flex;
        justify-content: space-evenly;
}
.contact-me{
    background-color: #e6e6fa;
}